.flex-bottom{
    position: fixed;;
    bottom:0;
}
.width-full{
    max-width:1000px;
}
.mtop{
    margin-top:6%;
}
.card-title{
    border: 1px solid rgb(180, 172, 172);
    border-radius: 10px;
}
.small{
    font-size: 10px;
}
.margin-bottom{
    margin-bottom: 10%;
}